<html>

<head>
  <title> web demo
  </title>
  <link rel="stylesheet" type="text/css" href="css/rowStyle.css">
  <script src="lib/jquery.js"></script>
  <script src="socket.io/socket.io.js"></script>

  <script src="lib/react.min.js"></script>
  <script src="lib/react-dom.min.js"></script>
  <script src="lib/babel.min.js"></script>
</head>

<body>
  <label id="table"></label>
  <div id="root"></div>

  <div id="output"></div>

  <!-- Your custom script here -->
  <script type="text/babel" src="component/RowComponent.js">
  </script>
  <script type="text/babel" src="component/TableComponent.js">
  </script>

</body>

</html>
